<div class="container">
    <div id="errorDiv" aria-live="assertive" role="alert" class="row margin-top-35">
        <div class="col-md-2 col-sm-12 col-xs-12"></div>
        <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="ant-anthem-alert errorMsg alert-pattern-v2 ant-negative">
            <div class="media">
            <div class="media-left media-middle">
                <span class="fa fa-exclamation"></span>
            </div>
            <div class="media-body media-middle ">
                <p>
                <span id="backEndErrorMsg"> {{errorMessage}}</span>
                </p>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <button type="button" id="successFailureMessageShowOk" autofocus class="btn btn-success" (click)="navigateToHome()">Back to Home</button>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>
